@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: system-ui, sans-serif;
  --color-warm-50: oklch(0.98 0.01 40);
  --color-warm-100: oklch(0.96 0.02 40);
  --color-warm-200: oklch(0.93 0.04 40);
  --color-warm-300: oklch(0.88 0.07 40);
  --color-warm-400: oklch(0.8 0.12 40);
  --color-warm-500: oklch(0.72 0.15 40);
  --color-warm-600: oklch(0.65 0.15 35);
  --color-warm-700: oklch(0.55 0.13 35);
  --color-warm-800: oklch(0.45 0.1 35);
  --color-warm-900: oklch(0.35 0.08 35);
}

@layer base {
  [x-cloak],
  [data-cloak],
  .x-cloak {
    display: none !important;
  }

  @media (prefers-contrast: more) {
    body {
      /* amplify lightness differences so every step passes AA/AAA */
      --color-warm-50: oklch(0.99 0.01 40 / 1);
      --color-warm-100: oklch(0.9 0.02 40 / 1);
      --color-warm-200: oklch(0.8 0.04 40 / 1);
      --color-warm-300: oklch(0.6 0.07 40 / 1);
      --color-warm-400: oklch(0.4 0.12 40 / 1);
      --color-warm-500: oklch(0.2 0.15 40 / 1);
      --color-warm-600: oklch(0.15 0.15 35 / 1);
      --color-warm-700: oklch(0.1 0.13 35 / 1);
      --color-warm-800: oklch(0.05 0.1 35 / 1);
      --color-warm-900: oklch(0.02 0.08 35 / 1);
    }
  }
}

@utility prose-warm {
  --tw-prose-body: var(--color-warm-800);
  --tw-prose-headings: var(--color-warm-900);
  --tw-prose-lead: var(--color-warm-700);
  --tw-prose-links: var(--color-warm-900);
  --tw-prose-bold: var(--color-warm-900);
  --tw-prose-counters: var(--color-warm-600);
  --tw-prose-bullets: var(--color-warm-400);
  --tw-prose-hr: var(--color-warm-300);
  --tw-prose-quotes: var(--color-warm-900);
  --tw-prose-quote-borders: var(--color-warm-300);
  --tw-prose-captions: var(--color-warm-700);
  --tw-prose-code: var(--color-warm-900);
  --tw-prose-pre-code: var(--color-warm-100);
  --tw-prose-pre-bg: var(--color-warm-900);
  --tw-prose-th-borders: var(--color-warm-300);
  --tw-prose-td-borders: var(--color-warm-200);
  --tw-prose-invert-body: var(--color-warm-200);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-warm-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-warm-400);
  --tw-prose-invert-bullets: var(--color-warm-600);
  --tw-prose-invert-hr: var(--color-warm-700);
  --tw-prose-invert-quotes: var(--color-warm-100);
  --tw-prose-invert-quote-borders: var(--color-warm-700);
  --tw-prose-invert-captions: var(--color-warm-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-warm-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-warm-600);
  --tw-prose-invert-td-borders: var(--color-warm-700);
}
